  <table style=" width: 100%;  background: white; color: white;  border-spacing: 1px; ">
   <tr><th style="background: maroon; padding: 5px;">Name</th><th style="background: maroon; padding: 5px;">Email</th><th style="background: maroon; padding: 5px;">Subject</th><th style="background: maroon; padding: 5px;">Text</th></tr>
   <tr><td style="background: maroon; padding: 5px;">{{name}}</td><td style="background: maroon; padding: 5px;">{{email}}</td><td style="background: maroon; padding: 5px;">{{subject}}</td><td style="background: maroon; padding: 5px;">{{textarea}}</td></tr>
  </table>

