<img src="http://bingogroup.com.ua/wp-content/uploads/2015/10/obslygivanie.jpg" style="float:left; width:150px;height:150px;margin-right:15px;"/>
<div ><h2 style="color:black; fontSize:20px;margin:0;padding:0;"><strong>Мы благодарим Вас за Ваше сообщение</strong></h2>
<p style="color:grey; fontSize:15px;">Через 5-10 минут администратор свяжется в Вами!</p></div>
