<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Error</title>
</head>
<body >
<div><span>404 Error.Page not found. </span><a href="/">Go to the main page</a></div>
</body>
</html>